html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  background-color: antiquewhite;
  padding: 10px;
}

.box-model {
  font-size: 30px;
  font-weight: bold;
  color: blueviolet;
  /* width: fit-content; */
  width: 200px;
  border: 5px solid black;
  padding: 20px;
  /* padding: 15px 20px; */
  /* padding: 10px 20px 5px 15px; */
  /* padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px; */
  margin: 20px;
}

/* * - позваляет передать св-ва указанные внутри фигурных скобок всем элементам в HTML документе */
* {
  box-sizing: border-box;
}
/* Внутренний отступ: сверху и снизу - 15px,
слева-справа - 20px
Границы: ширина - 1px, пунктиром, красная
Внутренний отступ: 40px
Ширина: 300px
Высота: 200px */

.animals {
  min-width: 300px;
  min-height: 200px;
  max-height: fit-content;
  max-width: fit-content;
  padding: 15px 20px;
  border: 1px dotted red;
  margin: 40px;
  background-color: white;
}

#tiger-img {
        width: 100%;
        height: 100%;
}

.img-control {
        width: 150px;
        height: 100px;
        margin-bottom: 20px;
}
